<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LOGIN PAGE</title>
</head>
<body>


<div class="form" >
 <form method="post">
    <img src="{{url_for('static' , filename='images/jumialogo.jpeg')}}" alt="Jumia Logo">
    <h1>Welcome to Mini Jumia</h1>
    {% if message %}
    <p class="error"> {{message}}</p>
    {% endif  %}
    <p>Use your email or phone number to login or sign up </p>
    <input placeholder="minijumia@gmail.com"  type="email" name="info" required autocomplete="email" maxlength="254" spellcheck="false">
    {% if error %}
    <p class="error">{{error}}</p>
     {% endif  %}
    <input placeholder="Enter Your Password" name="password" type="password" required minlength="10" autocomplete="current-password" spellcheck="false">
  <div><button class="btn">Continue</button> </div>
  
  <p class="login">Or login with </p>
 </form>

</div>    



     
     <script src="index.js" ></script>
</body>
</html>